<!DOCTYPE html>

<!-- @author Raj_Valand-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="footer">

    <a class="navbar-brand" th:href="@{/watchlisthome}">Watchlist1</a>

    <button aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarsExample04" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('home')} ? 'nav-link active' : 'nav-link'">-->
            <li class="nav-item" th:class="${activePage == 'watchlist2'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/watchlist2}">Watchlist2<span class="sr-only">(current)</span></a>
            </li>
            <!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('contact')} ? 'nav-link active' : 'nav-link'">-->
            <li class="nav-item" th:class="${activePage == 'watchlist3'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/watchlist3}">Watchlist3</a>
            </li>

            <li class="nav-item" th:class="${activePage == 'watchlist4'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/watchlist4}">Watchlist4</a>
            </li>


        </ul>
    </div>
</nav>
</body>
</html>